body {
    font-family: 'Rubik', sans-serif;
}
body.black {
    background-color:black;
}
.clearfix {
    clear:both;
}
.container {
    width:80%;
    margin:0 auto;
}
.header {
    width:100%;
    height:50px;
    background-color:black;
}
.header .dir {
    color:white;
    text-transform:uppercase;
    display: inline-block;
    padding: 0;
    margin:4px 0;
    border:2px solid black;
    font-size:0px;
    transition:padding 1s, font-size 1s, background-color 0.3s, color 0.3s;
    font-weight:500;
}
.black .header {
    background-color:white;
    color:black;
}
.black .dir {
    color:black;
    border:2px solid white;
}
.header .dir.right {
    float:right;
}
.header .dir:hover {
    background-color:silver;
    background-color: #bd0606;
    border:2px solid #d2969e;
    border-radius: 4px;
}
.black .header .dir:hover {
    color:white;
}
.showcase .case {
    /*margin-bottom:50px !important;*/

}
.showcase .case.loaded {
    display:flex;
    align-items:center;
    justify-content:center;
}
.showcase .case img {
    width:50%;
    align-items:stretch;
}
.showcase .case .description {
    width:45%;
    padding:50px;
    display:none;
    align-items:stretch;
}
.showcase .case:nth-child(odd) {
    transition:2s;
    margin-left:2000px;
}
.showcase .case:nth-child(even) {
    transition:2s;
    margin-right:2000px;
}
.showcase .case:nth-child(odd) img {
    float:left;
    margin-right:5%;
}
.showcase .case:nth-child(odd) .description {
    float:right;
}
.showcase .case:nth-child(even) img {
    float:right;
    margin-left:5%;
}
.showcase .case:nth-child(even) .description {
    float:left;
}
#loginform {
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#adminform {
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#adminform label {
    color:white;
    font-weight:500;
}
#adminform input {
    border-radius:10px;
}
#adminform .submit {
    display:inline-block;
    margin-right:40px;
    padding:20px;
}
#adminform a {
    color:white;
}
.message {
    position: fixed;
    width: 70%;
    height: 70%;
    text-align: center;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10%;
    font-size: 30px;
    border-radius: 20px;
    overflow:hidden;
}
.message.success {
    background-color:#c6eac6;
}
.message.error {
    background-color:#af1a43;
    color:white;
}
.texttable {
    width:100%;
    margin:40px auto;
}
.texttable th, .texttable td {
    text-align:center;
}
.users-table, .company-table {
    margin:20px;
}
.users-table th, .company-table th, .users-table td, .company-table td {
    width:10%;
    text-align:center;
}
.create-block {
    margin: 20px 20px 0;
    display: inline-block;
    padding: 10px;
    border:solid 1px #ddd;
    font-weight:500;
}
.create-link:hover .create-block:before {
    transform: rotate(720deg);
    background-color:#bd0606;
}
.create-block:before {
    border-radius:100%;
    content: '';
    background-image: url(../img/plus-icon.png);
    width: 35px;
    height: 35px;
    display: inline-block;
    background-size: cover;
    vertical-align: middle;
    margin-right: 20px;
    transition: 0.5s;
    background-repeat: no-repeat;
}
#modal {
    display:none;
}
#modal-form {
    z-index:3;
    background-color:white;
    position:fixed;
    width:60%;
    height:500px;
    left:0;
    right:0;
    bottom:0;
    top:0;
    margin:auto;
    padding:50px;
}
#modal-form label {
    font-weight:500;
}
#modal-shadow {
    background-color:rgba(0,0,0,0.3);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:2;
}
.submit input[type="submit"] {
    background-color: #bd0606;
    padding: 5px 20px;
    font-size: 19px;
    color:white;
    border: 2px solid black;
    border-radius: 4px;
    font-weight:500;
    text-transform:uppercase;
    transition:0.5s;
}
.submit input[type="submit"]:hover {
    background-color:#d2969e;
}
.redbtn {
    background-color: #bd0606;
    padding: 5px 20px;
    font-size: 19px;
    color:white;
    border: 2px solid black;
    border-radius: 4px;
    font-weight:500;
    text-transform:uppercase;
    transition:0.5s;
    display:inline-block;
    cursor:pointer;
}
.redbtn:hover {
    background-color:#d2969e;
}
.select-month {
    margin:20px;
    display:inline-block;
    width:auto;
    background-color: #bd0606;
    font-size: 19px;
    color:white;
    border: 2px solid black;
    border-radius: 4px;
    font-weight:500;
    text-transform:uppercase;
    transition:0.5s;
    display:inline-block;
    cursor:pointer;
    line-height:initial;
    height:auto;
}
.select-month:hover {
    background-color:#bd0606;
    border: 2px solid black;
}
.preloader {
    background-image: url('../img/preloader.gif');
    width: 120px;
    height: 120px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
@media (max-width:976px) {
    .container {
        width:100%;
    }
}